In [22]:
# 3.

In [23]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [24]:
df_orders_products_combined = pd.read_pickle(r'C:\Users\rbaue\Desktop\Instacart\Prepared Data\orders_products_combined.pkl')

In [25]:
# 4.

In [26]:
df_orders_products_combined.shape

(32434489, 12)

In [27]:
# 5.

In [28]:
df_prods_checked = pd.read_csv(r'C:\Users\rbaue\Desktop\Instacart\Prepared Data\prods_checked.csv', index_col = False)

In [29]:
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [30]:
df_merged_large = pd.read_pickle(r'C:\Users\rbaue\Desktop\Instacart\Prepared Data\merged_large.pkl')

In [31]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

I realized I had those Unnamed: 0.1 and Unnamed: 0 columns from saving multiple times with index included, so I asked Chat GPT for code to remove them

In [32]:
df_merged_large = df_merged_large.loc[:, ~df_merged_large.columns.str.contains("^Unnamed")]
df_prods_checked = df_prods_checked.loc[:, ~df_prods_checked.columns.str.contains("^Unnamed")]

In [33]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [34]:
df_merged_large = df_merged_large.loc[:, ~df_merged_large.columns.str.contains("^Unnamed")]

In [35]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [36]:
df_prods_checked = df_prods_checked.loc[:, ~df_prods_checked.columns.str.contains("^Unnamed")]

In [37]:
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [38]:
df_merged_large = df_merged_large.drop(columns=['_merge'], errors='ignore')
df_prods_checked = df_prods_checked.drop(columns=['_merge'], errors='ignore')

In [39]:
df_merged_large_prods_checked = df_prods_checked.merge(df_merged_large, on = 'product_id', indicator = True)

In [40]:
# 6.

In [41]:
df_merged_large_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [42]:
df_merged_large_prods_checked['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [43]:
# 7.

In [44]:
path = r'C:\Users\rbaue\Desktop\Instacart'

In [45]:
df_merged_large_prods_checked.to_pickle(os.path.join(path, 'Prepared Data', 'merged_large_prods_checked.pkl'))

In [46]:
df_merged_large_prods_checked.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge.pkl'))