## Table of Contents

1. Import Libraries and Load Data  
2. Explore Dataset Shape and Department-Level Order Behavior  
3. Compare Exercise and Full Dataset Results  
4. Create Loyalty Flags Based on Order History  
5. Analyze Price Differences by Loyalty Group  
6. Calculate Average Orders per User  
7. Measure Order Regularity Using Median Days Since Prior Order  
8. Create Customer Spending Segments  
9. Save Final Prepared Dataset

In [2]:
# 1.

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Import datasets
ords_prods_merge = pd.read_pickle(r'C:\Users\rbaue\Desktop\Instacart\Prepared Data\ords_prods_merge3.pkl')

In [5]:
# 2.

In [6]:
ords_prods_merge.shape

(32404859, 20)

In [7]:
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [8]:
# 3.

The results are pretty similar. Each mean value is slightly different, but there are no major differences. This is because the subset we ran this process on in the exercise was sufficiently large (one millions rows) to be a representative sample.

In [9]:
# 4.

In [10]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [12]:
# 5.

In [13]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

It looks like there's a bit of a difference in the average price of a product the different customers purchase, but it's pretty small.

In [14]:
# 6.

In [15]:
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.mean)

C:\Users\rbaue\AppData\Local\Temp\ipykernel_16864\1180104323.py:1: FutureWarning: The provided callable <function mean at 0x000002C015603920> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.mean)

In [16]:
ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,busiest_day,busiest_days,most_orders,busiest_hours,max_order,loyalty_flag,avg_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Regularly busy,Regularly busy,Most orders,Average orders,32,Regular customer,14.790541
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Regularly busy,Regularly busy,Most orders,Average orders,32,Regular customer,14.790541
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Busiest day,Busiest day,Most orders,Average orders,5,New customer,3.062500
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Regularly busy,Least busy days,Most orders,Average orders,3,New customer,2.017241
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Least busy,Least busy,Most orders,Average orders,3,New customer,2.017241
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,7,0,both,Regularly busy,Regularly busy,Most orders,Average orders,26,Regular customer,14.964602
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,2,0,both,Regularly busy,Regularly busy,Most orders,Average orders,9,New customer,4.939394
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,1,0,both,Regularly busy,Least busy days,Most orders,Most orders,12,Regular customer,7.700000
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,1,0,both,Regularly busy,Regularly busy,Most orders,Average orders,20,Regular customer,10.958333
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,2,1,both,Regularly busy,Regularly busy,Most orders,Average orders,20,Regular customer,10.958333
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,...,1,0,both,Regularly busy,Regularly busy,Most orders,Average orders,10,New customer,5.181818
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,1,0,both,Regularly busy,Least busy days,Most orders,Average orders,43,Loyal customer,21.448980
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,3,1,both,Least busy,Least busy,Most orders,Average orders,43,Loyal customer,21.448980
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,4,1,both,Regularly busy,Regularly busy,Most orders,Average orders,43,Loyal customer,21.448980
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,8,0,both,Regularly busy,Least busy days,Most orders,Most orders,13,Regular customer,6.803797

In [17]:
ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\rbaue\AppData\Local\Temp\ipykernel_16864\3899763501.py:1: FutureWarning: The provided callable <function mean at 0x000002C015603920> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [31]:
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [32]:
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     31770614
High_spender      634245
Name: count, dtype: int64

In [33]:
ords_prods_merge.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,busiest_days,most_orders,busiest_hours,max_order,loyalty_flag,avg_price,average_spend,spender_flag,med_dspo,order_regularity
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Regularly busy,Most orders,Average orders,32,Regular customer,14.790541,6.935811,Low_spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Regularly busy,Most orders,Average orders,32,Regular customer,14.790541,6.935811,Low_spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Busiest day,Most orders,Average orders,5,New customer,3.062500,7.930208,Low_spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Least busy days,Most orders,Average orders,3,New customer,2.017241,4.972414,Low_spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Least busy,Most orders,Average orders,3,New customer,2.017241,4.972414,Low_spender,9.0,Frequent customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,Regularly busy,Most orders,Average orders,26,Regular customer,14.964602,6.935398,Low_spender,11.0,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,Regularly busy,Most orders,Average orders,9,New customer,4.939394,5.957576,Low_spender,20.0,Regular customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,Least busy days,Most orders,Most orders,12,Regular customer,7.700000,6.680000,Low_spender,6.0,Frequent customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,Regularly busy,Most orders,Average orders,20,Regular customer,10.958333,7.162500,Low_spender,10.0,Frequent customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,Regularly busy,Most orders,Average orders,20,Regular customer,10.958333,7.162500,Low_spender,10.0,Frequent customer

In [34]:
# 7.

In [35]:
ords_prods_merge['med_dspo'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\rbaue\AppData\Local\Temp\ipykernel_16864\793941765.py:1: FutureWarning: The provided callable <function median at 0x000002C01574E480> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['med_dspo'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [36]:
ords_prods_merge.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,busiest_days,most_orders,busiest_hours,max_order,loyalty_flag,avg_price,average_spend,spender_flag,med_dspo,order_regularity
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Regularly busy,Most orders,Average orders,32,Regular customer,14.790541,6.935811,Low_spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Regularly busy,Most orders,Average orders,32,Regular customer,14.790541,6.935811,Low_spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Busiest day,Most orders,Average orders,5,New customer,3.062500,7.930208,Low_spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Least busy days,Most orders,Average orders,3,New customer,2.017241,4.972414,Low_spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Least busy,Most orders,Average orders,3,New customer,2.017241,4.972414,Low_spender,9.0,Frequent customer

In [37]:
ords_prods_merge.loc[ords_prods_merge['med_dspo'] > 20, 'order_regularity'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['med_dspo'] <= 20) & (ords_prods_merge['med_dspo'] > 10), 'order_regularity'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['med_dspo'] <= 10, 'order_regularity'] = 'Frequent customer'

In [38]:
ords_prods_merge['order_regularity'].value_counts(dropna = False)

order_regularity
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [39]:
ords_prods_merge.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,busiest_days,most_orders,busiest_hours,max_order,loyalty_flag,avg_price,average_spend,spender_flag,med_dspo,order_regularity
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Regularly busy,Most orders,Average orders,32,Regular customer,14.790541,6.935811,Low_spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Regularly busy,Most orders,Average orders,32,Regular customer,14.790541,6.935811,Low_spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Busiest day,Most orders,Average orders,5,New customer,3.062500,7.930208,Low_spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Least busy days,Most orders,Average orders,3,New customer,2.017241,4.972414,Low_spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Least busy,Most orders,Average orders,3,New customer,2.017241,4.972414,Low_spender,9.0,Frequent customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,Regularly busy,Most orders,Average orders,26,Regular customer,14.964602,6.935398,Low_spender,11.0,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,Regularly busy,Most orders,Average orders,9,New customer,4.939394,5.957576,Low_spender,20.0,Regular customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,Least busy days,Most orders,Most orders,12,Regular customer,7.700000,6.680000,Low_spender,6.0,Frequent customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,Regularly busy,Most orders,Average orders,20,Regular customer,10.958333,7.162500,Low_spender,10.0,Frequent customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,Regularly busy,Most orders,Average orders,20,Regular customer,10.958333,7.162500,Low_spender,10.0,Frequent customer

In [40]:
# 9.

In [41]:
path = r'C:\Users\rbaue\Desktop\Instacart'

In [42]:
ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge4.pkl'))