## Table of Contents
1. [Import Libraries](#import-libraries)
2. [Load Datasets](#load-datasets)
3. [Inspect Orders and Prior Orders Data](#inspect-orders-and-prior-orders-data)
4. [Merge Orders with Prior Products](#merge-orders-with-prior-products)
5. [Validate Merge Results](#validate-merge-results)
6. [Export Merged Dataset](#export-merged-dataset)
7. [Verify Final Dataset Shape](#verify-final-dataset-shape)

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [12]:
# Import datasets
df_ords = pd.read_csv(r'C:\Users\rbaue\Desktop\Instacart\Prepared Data\ords_checked.csv', index_col = False)
df_ords_prior = pd.read_csv(r'C:\Users\rbaue\Desktop\Instacart\Original Data\orders_products_prior.csv', index_col = False)

In [15]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [17]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
df_ords_prior.shape

(32434489, 4)

In [19]:
df_ords.shape

(3421083, 8)

In [20]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [22]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [23]:
path = r'C:\Users\rbaue\Desktop\Instacart'

In [25]:
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pk1'))

In [26]:
# 2.

In [27]:
path = r'C:\Users\rbaue\Desktop\Instacart'

In [29]:
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'merged_large.pkl'))

In [30]:
df_merged_large.shape

(32434489, 12)

In [2]:
df_merged_large.shape()

NameError: name 'df_merged_large' is not defined