## Table of Contents
1. [Import Libraries](#import-libraries)
2. [Load Source Datasets](#load-source-datasets)
3. [Prepare Orders Data](#prepare-orders-data)
4. [Explore Order Frequency](#explore-order-frequency)
5. [Rename and Adjust Columns](#rename-and-adjust-columns)
6. [Validate Data Types](#validate-data-types)
7. [Load Departments Data](#load-departments-data)
8. [Reshape Departments Data](#reshape-departments-data)
9. [Clean and Finalize Departments Table](#clean-and-finalize-departments-table)
10. [Filter Products by Department](#filter-products-by-department)
11. [Task 4.4 Questions](#task-44-questions)

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [4]:
df_ord = pd.read_csv(r'C:\Users\rbaue\Desktop\Original Data\orders.csv', index_col = False)

In [5]:
df_prod = pd.read_csv(r"C:\Users\rbaue\Desktop\Original Data\products.csv", index_col = False)

In [7]:
df_ord.drop(columns = ['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [9]:
df_ord = df_ord.drop(columns = ['eval_set'])

In [14]:
df_ord['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [16]:
df_ord.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [17]:
df_ord.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [19]:
df_ord['order_id'] = df_ord['order_id'].astype('str')

In [20]:
dtype()

NameError: name 'dtype' is not defined

In [21]:
df_ord['order_id'].dtype

dtype('O')

In [22]:
df_dep = pd.read_csv(r"C:\Users\rbaue\Desktop\Original Data\departments.csv", index_col = False)

In [23]:
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [24]:
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [27]:
df_dep_t = df_dep.T

In [28]:
df_dep_t

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [29]:
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [32]:
new_header = df_dep_t.iloc[0]

In [33]:
new_header

0    department
Name: department_id, dtype: object

In [34]:
df_dep_t_new = df_dep_t[1:]

In [35]:
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [36]:
df_dep_t_new.columns = new_header

In [37]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [38]:
data_dict = df_dep_t_new.to_dict('index')

In [39]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [40]:
df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [41]:
print(data_dict.get('19'))

{'department': 'snacks'}

In [42]:
df_snacks = df_prod[df_prod['department_id']==19]

In [43]:
df_prod['department_id']==19

0         True
1        False
2        False
3        False
4        False
         ...
49688    False
49689    False
49690    False
49691    False
49692    False
Name: department_id, Length: 49693, dtype: bool

In [44]:
df_prod[df_prod['department_id']==19]

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5
...,...,...,...,...,...
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49683,49679,Famous Chocolate Wafers,61,19,6.0

In [45]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [46]:
# Task 4.4

In [47]:
## 2.

In [48]:
data_dict = df_ord.to_dict('index')

In [50]:
df_ord['user_id'] = df_ord['user_id'].astype('str')

In [53]:
df_ord['order_id'].dtype

dtype('O')

In [51]:
## 3.

In [ ]:
## all of the remaining variables have intuitive names. however, I'd use the rename function to change one if needed. For example: df_ord.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [54]:
## 4.

In [56]:
df_ord['order_hour_of_day'].value_counts

<bound method IndexOpsMixin.value_counts of 0           8
1           7
2          12
3           7
4          15
           ..
3421078    18
3421079    10
3421080    12
3421081    12
3421082    14
Name: order_hour_of_day, Length: 3421083, dtype: int64>

In [57]:
## 5.

In [58]:
data_dict = df_dep_t_new.to_dict('index')

In [59]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [60]:
## department 4 is 'produce'

In [61]:
## 6.

In [62]:
## breakfast is department 14

In [63]:
df_breakfast = df_prod[df_prod['department_id']==14]

In [64]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

In [65]:
## 7.

In [66]:
df_party = df_prod.loc[df_prod['department_id'].isin([5,7,12,20])]

In [67]:
df_party.head

<bound method NDFrame.head of        product_id                                    product_name  aisle_id  \
2               3            Robust Golden Unsweetened Oolong Tea        94
6               7                  Pure Coconut Water With Orange        98
9              10  Sparkling Orange Juice & Prickly Pear Beverage       115
10             11                               Peach Mango Juice        31
16             17                               Rendered Duck Fat        35
...           ...                                             ...       ...
49676       49672                          Cafe Mocha K-Cup Packs        26
49679       49675             Cinnamon Dolce Keurig Brewed K Cups        26
49680       49676                          Ultra Red Energy Drink        64
49686       49682                              California Limeade        98
49688       49684       Vodka, Triple Distilled, Twist of Vanilla       124

       department_id  prices
2                  7     4.5
6                  7     4.4
9                  7     8.4
10                 7     2.8
16                12    17.1
...              ...     ...
49676              7     6.5
49679              7    14.0
49680              7    14.5
49686              7     4.3
49688              5     5.3

[7650 rows x 5 columns]>

In [68]:
## 8.

In [69]:
## df_party has 7,650 rows

In [70]:
## 9.

In [71]:
df_ord.loc[1]

order_id                  2398795
user_id                         1
order_number                    2
orders_day_of_week              3
order_hour_of_day               7
days_since_prior_order       15.0
Name: 1, dtype: object

In [72]:
## 10.

In [76]:
df_ord[df_ord['user_id'] == '1']

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

In [77]:
df_user1 = df_ord[df_ord['user_id'] == '1']

In [78]:
df_user1.describe

<bound method NDFrame.describe of    order_id user_id  order_number  orders_day_of_week  order_hour_of_day  \
0   2539329       1             1                   2                  8
1   2398795       1             2                   3                  7
2    473747       1             3                   3                 12
3   2254736       1             4                   4                  7
4    431534       1             5                   4                 15
5   3367565       1             6                   2                  7
6    550135       1             7                   1                  9
7   3108588       1             8                   1                 14
8   2295261       1             9                   1                 16
9   2550362       1            10                   4                  8
10  1187899       1            11                   4                  8

    days_since_prior_order
0                      NaN
1                     15.0
2                     21.0
3                     29.0
4                     28.0
5                     19.0
6                     20.0
7                     14.0
8                      0.0
9                     30.0
10                    14.0  >

In [79]:
## this user has 11 orders spanning various days of the week and hours of the day

In [80]:
## 11.

In [81]:
## done

In [82]:
## 12.

In [84]:
path = r'C:\Users\rbaue\Desktop\Instacart'

In [85]:
path

'C:\\Users\\rbaue\\Desktop\\Instacart'

In [92]:
df_ord.to_csv(os.path.join(path, 'Prepared Data', 'orders_wrangled.csv'))

In [93]:
df_dep_t_new.to_csv(os.path.join(path, 'Prepared Data', 'departments_wrangled.csv'))