## Table of Contents
1. [Import Libraries](#import-libraries)
2. [Load Customer Dataset](#load-customer-dataset)
3. [Initial Data Exploration](#initial-data-exploration)
4. [Clean and Standardize Columns](#clean-and-standardize-columns)
5. [Data Quality Checks](#data-quality-checks)
6. [Load Prepared Orders Dataset](#load-prepared-orders-dataset)
7. [Merge Customer and Orders Data](#merge-customer-and-orders-data)
8. [Validate Merged Dataset](#validate-merged-dataset)
9. [Export Final Dataset](#export-final-dataset)

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create dataframe
cust = pd.read_csv(r'C:\Users\rbaue\Desktop\Instacart\Original Data\customers.csv')

In [3]:
# 4.

In [4]:
cust.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [5]:
cust.shape

(206209, 10)

In [6]:
cust.head(5)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [8]:
# Drop the first name and surname columns since they don't add anything to the analysis and there's already a user_id column
cust2 = cust.drop(columns=["First Name", "Surnam"])

In [9]:
# Let's also make the column headers more consistent

In [10]:
# Rename Gender as gender
cust2.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [11]:
# Rename STATE as state 
cust2.rename(columns = {'STATE' : 'state'}, inplace = True)

In [12]:
# Rename Age as age
cust2.rename(columns = {'Age' : 'age'}, inplace = True)

In [13]:
# Rename n_dependants as number_of_dependants
cust2.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [14]:
# Rename fam_status as marital_status
cust2.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [15]:
# Check the output
cust2.head()

,user_id,gender,state,age,date_joined,number_of_dependants,marital_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374

In [16]:
# 5.

In [17]:
cust2.dtypes

user_id                  int64
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependants     int64
marital_status          object
income                   int64
dtype: object

In [18]:
cust2.isnull().sum()

user_id                 0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependants    0
marital_status          0
income                  0
dtype: int64

In [19]:
cust2_dups = cust2[cust2.duplicated()]

In [20]:
cust2_dups

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, number_of_dependants, marital_status, income]
Index: []

In [21]:
# 6.

In [22]:
ords_prods_merge = pd.read_pickle(r'C:\Users\rbaue\Desktop\Instacart\Prepared Data\ords_prods_merge4.pkl')

In [23]:
ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge', 'busiest_day', 'busiest_days', 'most_orders',
       'busiest_hours', 'max_order', 'loyalty_flag', 'avg_price',
       'average_spend', 'spender_flag', 'med_dspo', 'order_regularity'],
      dtype='object')

In [24]:
ords_prods_cust2 = ords_prods_merge.merge(cust2, on="user_id", how="inner")

In [25]:
ords_prods_cust2.shape

(32404859, 32)

In [26]:
ords_prods_cust2.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge', 'busiest_day', 'busiest_days', 'most_orders',
       'busiest_hours', 'max_order', 'loyalty_flag', 'avg_price',
       'average_spend', 'spender_flag', 'med_dspo', 'order_regularity',
       'gender', 'state', 'age', 'date_joined', 'number_of_dependants',
       'marital_status', 'income'],
      dtype='object')

In [27]:
path = r'C:\Users\rbaue\Desktop\Instacart'

In [29]:
ords_prods_cust2.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_cust2_merge.pkl'))